<footer class="text-white">
    <div class="container__custom">
        <div class="row">
            <div class="col-md-3">
                <img src="assets/Images/{{logo.anh}}" style="width: 190px" />
                <p>{{diaChi.noiDung}}</p>
                <p>Email: {{email.noiDung}}</p>
                <p>Điện thoại:{{sdt.noiDung}}</p>
                <p>Skype: MarkLeoDemon</p>
                <i class="fab fa-facebook-f pr-4"></i>
                <i class="fab fa-google-plus-g"></i>
            </div>
            <div class="col-md-3">
                <h4>VỀ CHÚNG TÔI</h4>
                <p>Tổng quan về công ty</p>
                <p>Lịch sử hình thành</p>
                <p>Tầm nhìn – Sứ mệnh</p>
                <p>Câu chuyện thương hiệu</p>
            </div>
            <div class="col-md-3">
                <h4>HỖ TRỢ KHÁCH HÀNG</h4>
                <p>Phiếu quà tặng</p>
                <p>Hướng dẫn chọn size</p>
                <p>Thẻ VIP</p>
            </div>
            <div class="col-md-3">
                <h4>ĐĂNG KÝ NHẬN BẢN TIN</h4>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Địa chỉ Email"
                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">GỬI</span>
                    </div>
                </div>
                <p>Đăng ký với chúng tôi để nhận email về sản phẩm mới, khuyến mại đặc biệt và các sự kiện độc đáo.</p>
            </div>
        </div>
    </div>
</footer>
<div class="copyright text-center py-2 text-white">
    <p class="m-0">
        © All rights reserved. Contact us
        <img src="assets/Images/{{logo.anh}}" style="width: 83px; height: 30px;" />
    </p>
</div>