<div class="label"></div>
<div class="contact-area pb-34 pb-md-18 pb-sm-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-info mt-md-28 mt-sm-28">
                    <div style="text-align: center;">
                        <h1 class="text-danger">{{ success }}</h1>
                        <p></p>
                        <p style="font-size: 25px;">{{ text }}</p>
                        <p style="font-size: 25px;">{{ text1 }}</p>
                        <a routerLink="/Dang-nhap-user">Tiến hành đăng nhập</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>