.container {
    display: flex;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.mt-4 {
    margin-top: 1rem;
}

.pagination-controls {
    /* Thêm kiểu CSS tùy chỉnh cho lớp pagination-controls */
    /* Ví dụ: */
    display: inline-block;
    background-color: #f8f9fa;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}