<div class="label"></div>
<div class="container-fluid py-5 px-5">
    <div class="row">
        <div class="col-lg-3 order-lg-1">
            <nav>
                <ul class="menuProduct">
                    <li>
                        <a routerLink="" class="tpnam_btn mb-0 listAll">Danh mục sản phẩm</a>
                        <ul class="tpnam_show" *ngFor="let loaisp of loaisp">
                            <li><a
                                    [routerLink]="['/SanPhamTheoLoai',loaisp.maLoaiSanPham]">{{loaisp.tenLoaiSanPham}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-6 order-lg-2">
            <div class="main-content ">
                <h3 class="font-weight-bold text-center">{{tintuc.tieuDe}}</h3>
                <p>{{tintuc.noiDung}}</p>
                <img src="/assets/Images/{{tintuc.anhTinTuc}}" class="img-fluid mb-3 mt-3"
                    style="width:100%;;height: 450px;" alt="Ảnh tin tức">
                <p *ngFor="let tt of tintuc.listjson_NoiDungCT">{{tt.noiDungChiTiet}}</p>
            </div>
        </div>
        <div class="col-lg-3 order-lg-3">
            <div class="sidebar">
                <h3 class="text-center mt-3 font-weight-bold" style="color:#FF0000;">Tin tức khác</h3>
                <div class="other-news">
                    <div class="news-item">
                        <div class="row mb-3" *ngFor="let tt of tintuckhac">
                            <div class="col-12 col-md-6">
                                <img src="/assets/Images/{{tt.anhTinTuc}}" class="img-fluid" alt="Ảnh tin tức khác" />
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="news-content">
                                    <a [routerLink]="['/CTTinTuc',tt.maTinTuc]"
                                        style="color: #000; text-decoration: none;">
                                        <h4 class="font-weight-bold" style="font-size: 14px; cursor: pointer;">
                                            {{tt?.tieuDe}}</h4>
                                    </a>
                                    <p class="mt-2">{{ tt.noiDung.length > 30 ? tt.noiDung.substring(0, 30) + '...' :
                                        tt.noiDung }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>