<div class="content" style="max-width:1250px;">
    <div class="layout-page-customer">
        <h3 class="text-center mb-3 font-weight-bold" data-aos="flip-right">Danh sách đơn hàng </h3>
        <p class="text-muted font-13 m-b-30">
            <button class="btn btn-danger btn-sm ml-2" [disabled]="!selectedRow" data-toggle="modal"
                data-target="#exampleModal">
                Xem chi tiết đơn hàng
            </button>
            <button type="button" class="btn btn-success ml-1" (click)="exportToExcel()"><i class="fas fa-save"></i>
                In</button>
        </p>
        <!-- "Create New" button that triggers the modal -->
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Tìm kiếm...">
        </div>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr class="text-center">
                    <th style="width: 5%;">STT</th>
                    <th style="width: 12%;">Ngày đặt</th>
                    <th style="width: 12%;">Ngày giao</th>
                    <th style="width: 12%;">Họ tên</th>
                    <th style="width: 12%;">Địa chỉ</th>
                    <th style="width: 10%;">SĐT</th>
                    <th style="width: 12%;">Tình Trạng</th>
                    <th style="width: 8%;"></th> <!-- Adjust as needed -->
                </tr>
            </thead>
            <tbody *ngFor="let dh of donhang;let i = index">
                <tr class="text-center" (click)="onRowClick(dh)" [class.selected]="selectedRow === dh">
                    <td>{{i+1}}</td>
                    <td>{{dh.ngayDat | date: 'dd/MM/yyyy'}}</td>
                    <td>{{dh.ngayGiao | date: 'dd/MM/yyyy'}}</td>
                    <td>{{dh.hoTen}}</td>
                    <td>{{dh.diaChi}}</td>
                    <td>{{dh.soDienThoai}}</td>

                    <!-- Use Bootstrap styling for "Chưa thanh toán" -->
                    <ng-container *ngIf="dh.tinhTrang === 0">
                        <td class="badge badge-warning">Chờ duyệt</td>
                        <td style="width: 70px">
                            <button class="btn btn-primary btn-sm" (click)="DuyetDon(dh)">Duyệt</button>
                        </td>
                    </ng-container>

                    <ng-container *ngIf="dh.tinhTrang === 1">
                        <td class="badge badge-success">Đã duyệt</td>
                        <td style="width: 70px">
                            <button class="btn btn-info btn-sm" (click)="xacnhangiaohang(dh)">Xác nhận giao
                                hàng</button>
                        </td>
                    </ng-container>
                    <ng-container *ngIf="dh.tinhTrang === 3">
                        <td class="badge badge-warning">Chờ thanh toán</td>
                        <td></td>
                    </ng-container>

                    <ng-container *ngIf="dh.tinhTrang === 4">
                        <td class="badge badge-primary">Đã thanh toán</td>
                        <td></td>
                    </ng-container>

                    <ng-container *ngIf="dh.tinhTrang === 5">
                        <td class="badge badge-secondary">Đang giao hàng</td>
                        <td></td>
                    </ng-container>
                    <ng-container *ngIf="dh.tinhTrang === 6">
                        <td class="badge badge-info">Đã nhận hàng</td>
                        <td>
                        </td>
                    </ng-container>

                </tr>
            </tbody>
        </table>
        <!-- <h3 class="font-weight-bold mt-5">Tổng doanh thu:{{TongTien| number: '1.0-0'}} VNĐ</h3> -->
    </div>
</div>
<div #ViewModal class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="detailModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 800px;">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Thông tin đơn hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="store-info">
                            <h4>Cửa hàng MarkShop</h4>
                            <div *ngFor="let lh of lienhe">
                                <p><strong>Địa chỉ cửa hàng:</strong>{{ lh.diaChi }}</p>
                                <p><strong>Email cửa hàng:</strong>{{ lh.email }}</p>
                                <p><strong>Số điện thoại cửa hàng:</strong>{{ lh.soDienThoai }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="customer-info">
                            <h4>Thông tin khách hàng</h4>
                            <div>
                                <p><strong>Tên khách hàng:</strong>{{ HoTen }}</p>
                                <p><strong>Địa chỉ:</strong>{{ DiaChi }}</p>
                                <p><strong>Số điện thoại:</strong>{{ SoDienThoai }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr class="text-center">
                            <th style="width:8%;">Mã Đơn Hàng</th>
                            <th style="width: 40%;">Tên sản phẩm</th>
                            <th style="width: 10%;">Số lượng</th>
                            <th style="width: 20%;">Giá tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" *ngFor="let ct of chitietdonhang">
                            <td>{{ct.maDonHang}}</td>
                            <td>{{ct.tenSP}}</td>
                            <td>{{ct.soLuong}}</td>
                            <td>{{ct.giaTien| number: '1.0-0'}} VNĐ</td>
                        </tr>
                        <!-- New row for total invoice -->
                        <tr>
                            <td colspan="3" class="text-right"><strong>Tổng hóa đơn:</strong></td>
                            <td class="text-center">{{Tonghoadon| number: '1.0-0'}} VNĐ</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>