<div class="content" style="max-width:1250px;">
    <div class="layout-page-customer">
        <h3 class="text-center mb-3 font-weight-bold" data-aos="flip-right">Danh sách liên hệ </h3>
        <!-- "Create New" button that triggers the modal -->
        <p class="text-muted font-13 m-b-30">
            <button class="btn btn-success fa fa-plus" data-toggle="modal" (click)="taomoi()"
                data-target="#exampleModal">Tạo mới</button>
            <button class="btn btn-info btn-sm ml-2" data-toggle="modal" data-target="#exampleModal1"
                [disabled]="!selectedRow">
                <i class="fas fa-edit"></i> Cập nhật
            </button>
            <button class="btn btn-info btn-sm ml-2" data-toggle="modal" data-target="#exampleModal3"
                (click)="onDelete()">
                <i class="fas fa-trash-alt"></i> Xóa
            </button>
            <button class="btn btn-danger btn-sm ml-2" data-toggle="modal" data-target="#exampleModal2"
                [disabled]="!selectedRow">
                Chi Tiết
            </button>
        </p>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Tìm kiếm..." [(ngModel)]="searchTerm">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="getall(1)">Tìm
                    kiếm</button>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr class="text-center">
                    <th style="width: 5%;">STT</th>
                    <th style="width: 15%;">Email</th>
                    <th style="width: 25%;">Địa Chỉ </th>
                    <th style="width: 15%;">Số Điện thoại</th>
                </tr>
            </thead>
            <tbody
                *ngFor="let lh of lienhe | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: totalItems }; let i = index">
                <tr (click)="onRowClick(lh)" [class.selected]="selectedRow === lh">
                    <td>{{i+1}}</td>
                    <td>{{lh.email}}</td>
                    <td>{{lh.diaChi}}</td>
                    <td>{{lh.soDienThoai}}</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center mt-4">
            <pagination-controls class="pagination-controls" (pageChange)="getall($event)"
                (pageBoundsCorrection)="getall($event)" previousLabel="Trước" nextLabel="Sau"></pagination-controls>
        </div>
    </div>
</div>

<div #addModal class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" style="max-width: 600px;">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Liên hệ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form novalidate name="frmLoaiSP" id="frmLoaiSP" class="form-horizontal row-border">
                    <div class="form-group row">
                        <label class="col-md-12 control-label" for="idTenLoaiSanPham">Email : </label>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <input type="text" id="idTenLoaiSanPham" [(ngModel)]="Email" class="form-control"
                                name="Email" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-12 control-label" for="idTenLoaiSanPham">Địa Chỉ : </label>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <input type="text" id="idTenLoaiSanPham" [(ngModel)]="DiaChi" class="form-control"
                                name="DiaChi" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-12 control-label" for="idTenLoaiSanPham">Số Điện Thoại : </label>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <input type="text" id="idTenLoaiSanPham" [(ngModel)]="SoDienThoai" class="form-control"
                                name="SoDienThoai" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12 text-center">
                            <button id="save" class="btn btn-success" type="submit" (click)="Them()">
                                <i class="icon-save"></i> Thêm
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<div #updateModal class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" style="max-width: 600px;">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Liên hệ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form novalidate name="frmLoaiSP" id="frmLoaiSP" class="form-horizontal row-border">
                    <div class="form-group row">
                        <label class="col-md-12 control-label" for="idTenLoaiSanPham">Email : </label>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <input type="text" id="idTenLoaiSanPham" [(ngModel)]="Email" class="form-control"
                                name="Email" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-12 control-label" for="idTenLoaiSanPham">Địa Chỉ : </label>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <input type="text" id="idTenLoaiSanPham" [(ngModel)]="DiaChi" class="form-control"
                                name="DiaChi" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-12 control-label" for="idTenLoaiSanPham">Số Điện Thoại : </label>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <input type="text" id="idTenLoaiSanPham" [(ngModel)]="SoDienThoai" class="form-control"
                                name="SoDienThoai" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12 text-center">
                            <button id="save" class="btn btn-success" type="submit" (click)="update()">
                                <i class="icon-save"></i> Sửa
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div #viewModal class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" style="max-width: 600px;">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Liên hệ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form novalidate name="frmLoaiSP" id="frmLoaiSP" class="form-horizontal row-border">
                    <div class="form-group row">
                        <label class="col-md-12 control-label" for="idTenLoaiSanPham">Email : </label>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <input type="text" id="idTenLoaiSanPham" [(ngModel)]="Email" readonly class="form-control"
                                name="Email" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-12 control-label" for="idTenLoaiSanPham">Địa Chỉ : </label>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <input type="text" id="idTenLoaiSanPham" [(ngModel)]="DiaChi" readonly class="form-control"
                                name="DiaChi" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-12 control-label" for="idTenLoaiSanPham">Số Điện Thoại : </label>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <input type="text" id="idTenLoaiSanPham" [(ngModel)]="SoDienThoai" readonly
                                class="form-control" name="SoDienThoai" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<div #deleteModal class="modal" tabindex="-1" id="exampleModal3">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Liên hệ </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn xóa không ?.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="hanleDelete()">Xóa</button>
            </div>
        </div>
    </div>
</div>